/* thsarabun.css */
@font-face {
  font-family: 'TH Sarabun New';
  src: url('/fonts/THSarabunNew.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TH Sarabun New';
  src: url('/fonts/THSarabunNew-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body, .th-sarabun {
  font-family: 'TH Sarabun New', Arial, sans-serif;
}
