#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}.sigCanvas {
  width: 100%;
  height: 450px;
  background-color: #fff;
  touch-action: none; /* ป้องกันหน้าจอเลื่อนขณะใช้ปากกาหรือนิ้วเซ็น */
}

.canvas-wrapper {
  border: 2px solid #007aff;
  border-radius: 15px;
  overflow: hidden;
  margin: 25px 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

h1 { color: #007aff; font-family: sans-serif; }

button {
  padding: 15px 35px;
  font-size: 1.1rem;
  border-radius: 12px;
  margin: 10px;
  border: none;
  font-weight: bold;
}

.btn-save { background-color: #007aff; color: white; }
.btn-clear { background-color: #f2f2f7; color: #333; }

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
